@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
.font--Barlow, .Hamberger__urls__url, .Nav__urls__url {
  font-family: "Barlow", sans-serif;
}

.upper, .Testimonials__title, .TextImg__container__text__learnMore p, .Header__Hero__title, .Hamberger__urls__url--light {
  text-transform: uppercase;
}

.Nav {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  padding: 2rem;
}
@media (max-width: 768px) {
  .Nav {
    font-size: clamp(16px ,calc( 16 * 1px + 2 * ((100vw - 320px)) / 448),18px);
    padding: clamp(1.5rem,5.15%,4rem);
  }
}
.Nav__logo {
  cursor: pointer;
  min-height: 0;
}
@media (max-width: 768px) {
  .Nav__urls {
    display: none;
  }
}
.Nav__urls__url:not(:last-child) {
  margin-right: 2rem;
}
.Nav__urls__url--light {
  font-family: "Fraunces", serif;
  color: black;
  background: white;
  text-transform: uppercase;
  padding: 0.8333333333rem 1.2222222222rem;
  border-radius: 10rem;
  font-weight: 900;
  font-size: 0.7222222222rem;
}
.Nav__urls__url--light:hover {
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

@media (min-width: 769px) {
  .Hamberger {
    display: none;
  }
}
.Hamberger__line {
  background: white;
  display: block;
  visibility: visible;
  width: 30px;
  height: 2px;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}
.Hamberger__line:not(:last-child) {
  margin-bottom: 6px;
}
.Hamberger__line--animate:first-child {
  transform: translate(0px, 7px) rotate(45deg);
}
.Hamberger__line--animate:nth-of-type(3n) {
  transform: translate(0px, -9px) rotate(-45deg);
}
.Hamberger__line--animate:nth-of-type(2n) {
  opacity: 0;
}
.Hamberger__urls {
  background: white;
  position: absolute;
  top: max(60px,10%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.2222222222rem;
  width: 90%;
  max-width: 460px;
  gap: 10%;
  transition: all 200ms ease-in-out;
  overflow: hidden;
  visibility: hidden;
  height: fit-content;
  padding: 1.2em;
  z-index: 3;
}
@media (min-width: 769px) {
  .Hamberger__urls {
    display: none;
  }
}
@keyframes show {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes hide {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: hidden;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.Hamberger__urls--visible {
  animation: show 200ms ease-in-out forwards;
}
.Hamberger__urls--hidden {
  animation: hide 200ms ease-in-out forwards;
}
.Hamberger__urls__url {
  display: block;
  font-size: 1.3888888889em;
  color: #818498;
  width: fit-content;
  margin: auto;
}
.Hamberger__urls__url:not(:last-child) {
  margin-bottom: 6%;
}
.Hamberger__urls__url--light {
  font-family: "Fraunces", serif;
  background: #fad400;
  color: black;
  padding: 1.2em 2em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20rem;
}
.Hamberger__urls__url--light:hover {
  background: #fad400b3;
}

.Header {
  position: relative;
  background-color: #3ebfff;
  height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 768px) {
  .Header {
    font-size: clamp(12px ,calc( 12 * 1px + 6 * ((100vw - 320px)) / 448),18px);
    height: fit-content;
  }
}
.Header__Hero {
  width: fit-content;
  margin: 3rem auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .Header__Hero {
    margin: 8% auto 0;
  }
}
.Header__Hero__title {
  font-family: "Fraunces", serif;
  color: white;
  font-size: 2.8rem;
  letter-spacing: 0.25em;
}
@media (max-width: 768px) {
  .Header__Hero__title {
    text-align: center;
    font-size: 3em;
    width: fit-content;
    margin: auto;
    margin-bottom: 7%;
  }
}
.Header__img--desktop {
  width: max(59%, 1030px);
  display: block;
  min-width: 0;
  min-height: 0;
  align-self: center;
}
@media (max-width: 768px) {
  .Header__img--desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  .Header__img--mobile {
    display: none;
  }
}

.TextImg {
  display: flex;
}
@media (min-width: 769px) {
  .TextImg {
    font-size: clamp(11px ,calc( 11 * 1px + 7 * ((100vw - 768px)) / 1055),18px);
  }
  .TextImg--reverse {
    flex-direction: row-reverse;
  }
}
@media (max-width: 768px) {
  .TextImg {
    flex-direction: column-reverse;
    text-align: center;
    gap: 60px;
    font-size: clamp(11px ,calc( 11 * 1px + 7 * ((100vw - 320px)) / 448),18px);
  }
}
.TextImg__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TextImg__container__text {
  display: flex;
  flex-direction: column;
  width: max(300px,52%);
  gap: 1.5em;
}
@media (max-width: 768px) {
  .TextImg__container__text {
    width: max(220px, 50%);
    text-align: center;
    align-items: center;
    gap: 1.5em;
  }
}
.TextImg__container__text h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.35em;
  color: #23303e;
}
@media (max-width: 768px) {
  .TextImg__container__text h1 {
    font-size: max(25px, 2em);
  }
}
.TextImg__container__text__description {
  font-family: "Barlow", sans-serif;
  font-size: max(13.5px,1.03em);
  line-height: 1.5;
  color: #818498;
  font-weight: bold;
}
@media (max-width: 768px) {
  .TextImg__container__text__description {
    font-size: max(14px, 1em);
  }
}
.TextImg__container__text__learnMore {
  font-family: "Fraunces", serif;
  color: #23303e;
  font-size: 0.8888888889rem;
  font-weight: 900;
  width: fit-content;
  position: relative;
}
.TextImg__container__text__learnMore p {
  width: fit-content;
  position: relative;
  z-index: 2;
  font-size: 1em;
}
@media (max-width: 768px) {
  .TextImg__container__text__learnMore p {
    font-size: 1em;
  }
}
.TextImg__container__text__learnMore span {
  position: absolute;
  width: 110%;
  height: 11px;
  left: 50%;
  transform: translate(-50%, -70%);
  display: block;
  border-radius: 100rem;
  background-color: #fad400;
  z-index: 1;
}
.TextImg__container__text__learnMore--diff span {
  background-color: #fe7867;
}
.TextImg .TextImg__img {
  min-width: 0;
  flex: 1;
}
@media (max-width: 768px) {
  .TextImg .TextImg__img--desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  .TextImg .TextImg__img--mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .Features {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
}
.Features__container {
  display: flex;
}
@media (max-width: 768px) {
  .Features__container {
    flex-direction: column;
  }
}

.ImgText {
  position: relative;
  text-align: center;
  flex: 1;
  font-size: clamp(14px ,calc( 14 * 1px + 4 * ((100vw - 768px)) / 1055),18px);
}
@media (max-width: 768px) {
  .ImgText {
    font-size: clamp(14px ,calc( 14 * 1px + 6 * ((100vw - 320px)) / 448),20px);
    max-height: max(470px, 125vw);
    min-width: 0;
    min-height: 0;
    overflow: hidden;
  }
}
.ImgText__img {
  width: 100%;
  display: block;
}
@media (max-width: 768px) {
  .ImgText__img--desktop {
    display: none;
  }
}
@media (min-width: 769px) {
  .ImgText__img--mobile {
    display: none;
  }
}
.ImgText__text {
  position: absolute;
  bottom: max(135px, 35%);
  left: 50%;
  transform: translateX(-50%);
  width: max(305px, 45%);
  height: 0;
}
.ImgText__text--green {
  color: #25564b;
}
.ImgText__text--blue {
  color: #19536b;
}
@media (max-width: 768px) {
  .ImgText__text {
    width: max(295px, 55%);
    bottom: 30%;
  }
}
.ImgText__text h1 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 0.65em;
  font-size: 2em;
}
.ImgText__text p {
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  font-size: 1em;
}

.Testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 769px) {
  .Testimonials {
    font-size: clamp(14px ,calc( 14 * 1px + 4 * ((100vw - 768px)) / 1055),18px);
    gap: 5.15vw;
    margin: 7.7vw 0;
  }
}
@media (max-width: 768px) {
  .Testimonials {
    font-size: clamp(14px ,calc( 14 * 1px + 4 * ((100vw - 320px)) / 448),18px);
    gap: max(50px, 5.15vw);
    margin: max(50px, 7.7vw) 0;
  }
}
.Testimonials__title {
  font-family: "Fraunces", serif;
  color: #a7abae;
  font-size: 1.22em;
  letter-spacing: 6px;
}
@media (max-width: 768px) {
  .Testimonials__title {
    letter-spacing: 0.22em;
  }
}
.Testimonials__container {
  display: flex;
  justify-content: space-around;
  width: max(730px, 60%);
  gap: 15px;
}
@media (max-width: 768px) {
  .Testimonials__container {
    flex-direction: column;
    align-self: center;
    width: fit-content;
    gap: 40px;
  }
}

.Testimonial {
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  max-width: 350px;
  gap: 40px;
  line-height: 1.8;
}
@media (max-width: 768px) {
  .Testimonial {
    gap: 20px;
    max-width: max(270px, 50%);
    align-self: center;
  }
}
.Testimonial img {
  min-width: 0;
  min-height: 0;
  width: 4.45em;
  border-radius: 100%;
}
.Testimonial__text {
  color: #5a636c;
  font-weight: 900;
}
.Testimonial__more__name {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
}
.Testimonial__more__jop {
  color: #a7abae;
}

.Footer {
  font-family: "Barlow", sans-serif;
  color: #458c7e;
  background: #90d4c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px 0;
}
.Footer ul {
  display: flex;
  gap: 50px;
  margin-bottom: 30px;
}
.Footer ul li {
  list-style: none;
  cursor: pointer;
}
.Footer ul li:hover {
  color: white;
}
.Footer svg {
  cursor: pointer;
}
.Footer svg path {
  fill: #2d7466;
}
.Footer__imgs svg:not(:last-child) {
  margin-right: 30px;
}
.Footer__imgs svg:hover path {
  fill: white;
}

html, body, #app {
  width: 100%;
  height: fit-content;
}
@media (max-width: 768px) {
  html, body, #app {
    height: fit-content;
  }
}

html {
  font-size: 18px;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Gallery {
  display: flex;
}
@media (max-width: 768px) {
  .Gallery {
    flex-wrap: wrap;
  }
}
.Gallery__img {
  min-width: 0;
  min-height: 0;
}
.Gallery__img--desktop {
  flex: 1;
}
@media (max-width: 768px) {
  .Gallery__img--desktop {
    display: none;
  }
}
.Gallery__img--mobile {
  flex: auto;
  width: 50%;
}
@media (min-width: 769px) {
  .Gallery__img--mobile {
    display: none;
  }
}

/*# sourceMappingURL=App.css.map */
